/* Mobile styles */
@media only screen and (max-width: 768px) {
    /* Adjust font sizes and margins for mobile */
    .Name {
      font-size: 150%;
    }
    .name-design {
      font-size: 500%;
    }
    .myself {
      font-size: 16px;
    }
    .projects-name, .socials-name {
      font-size: 120%;
    }
    .social {
      font-size: 120%;
    }
    /* Adjust layout for mobile */
    .header {
      padding: 10px 20px;
    }
    .Hello {
      height: 100vh;
    }
    .lines div {
      width: 2px;
    }
  }
  
  /* Tablet styles */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    /* Adjust font sizes and margins for tablet */
    .Name {
      font-size: 180%;
    }
    .name-design {
      font-size: 600%;
    }
    .myself {
      font-size: 18px;
    }
    .projects-name, .socials-name {
      font-size: 140%;
    }
    .social {
      font-size: 140%;
    }
    /* Adjust layout for tablet */
    .header {
      padding: 15px 30px;
    }
    .Hello {
      height: 100vh;
    }
    .lines div {
      width: 2.5px;
    }
  }
